<!-- USER PROFILE -->
<div class="container">
  <div class="row">

    <div class="col s2">
      <h4><%= @user.username %></h4>
      <h6>email: <%= @user.email %></h6>
      <h6>Reviews: <%= @user.reviews.length %></h6>
      <h6>Member Since:</strong> &nbsp; <%= @user.created_at.strftime("%b %Y") %></h6>

      <% if current_user == @user %>
      <p class="left-align"><%= link_to "edit ",  edit_user_path(@user), :class => 'waves-effect waves-light btn ' %></p>
      <% end %>
    </div>
      <br>

    <div class="col s6">
      <h4>Your Reviews</h4>
        <div class="col s8">
          <% @user.reviews.each do |p| %>
          <div class="row hoverable posts-background">
            <div class="col s10">
              <h4><%= link_to "#{p.title}", review_path(p)%></h4>
              <p><%=p.created_at.strftime("%b %d, %Y")%></p>
              <p style="margin-bottom: 40px;"><%= truncate p.description, length: 160 %></p>
            </div>
          </div>
          <% end %>
        </div>
        <!-- Bookmarks -->
        <div class="col s8">
        <h4>Saved Campsites</h4>
        <% @user.campsites.each do |p| %>
        <div>
          <h4><%= link_to "#{p.campsites_users}", campsite_path(p)%></h4>
          <p>Bookmarked on: <%=p.created_at.strftime("%b %d, %Y")%></p>
        </div>
        <% end %>
      </div>
    </div>


      </div>
  </div>
