<!-- USER PROFILE -->
<div class="container">
  <div class="row">

    <div class="col s3">
      <h4><%= @user.username %></h4>
      <h6><%= @user.email %></h6>
      <h6>Reviews: <%= @user.reviews.length %></h6>
      <h6>Member Since:</strong> &nbsp; <%= @user.created_at.strftime("%b %Y") %></h6>

      <% if current_user == @user %>
      <p class="left-align"><%= link_to "edit ",  edit_user_path(@user), :class => 'waves-effect waves-light btn ', :id => "buttonz" %></p>
      <% end %>
    </div>
      <br>

    <div class="col s9">
      <div class="card">
         <div class="card-content profile-gif">
           <!-- <img src="./images/fire.gif"> -->
         </div>
         <div class="card-tabs">
           <ul class="tabs tabs-fixed-width">
             <li class="tab"><a href="#reviews">Reviews</a></li>
             <li class="tab"><a class="active" href="#bookmarks">Bookmarks</a></li>
             <li class="tab"><a href="#camping_list">Camping List</a></li>
           </ul>
         </div>

         <div class="card-content grey lighten-2">
           <div id="reviews">
             <% @user.reviews.each do |p| %>
             <div class="row hoverable posts-background">
               <div class="col s10">
                 <h4><%= link_to "#{p.title}", review_path(p)%></h4>
                 <p><%=p.created_at.strftime("%b %d, %Y")%></p>
                 <p style="margin-bottom: 20px;"><%= truncate p.description, length: 160 %></p>
               </div>
             </div>
             <% end %>
           </div>

           <div id="bookmarks">
             <% @user.campsites.each do |p| %>
             <div class="row hoverable posts-background">
               <div class="col s10">
               <h4><%= link_to "#{p.name}", campsite_path(p)%></h4>
               <p>Added on: <%=p.created_at.strftime("%b %d, %Y")%></p>
             </div>
           </div>
             <% end %>
           </div>

           <div id="camping_list">
             <% @user.camping_lists.each do |p| %>
             <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
             <label for="filled-in-box"><%= "#{p.item}"%></label>
             <br>
             <% end %>
           </div>
         </div>
       </div>

    </div>


      </div>
  </div>
