<!-- ADD A NEW POST -->

<div class="container">
  <div class="row">
    <br>
    <br>
  <div class="col s8 push-s1">
      <h3>New Review about <%= @campsite.name %></h3>
      <%= form_for [@campsite, @review], url: create_review_path do |f| %>
      <div>
        <%= f.text_field :title, placeholder: " Title", id:"form" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: " Content", class: "materialize-textarea", id:"form" %>
      </div>
        <% end %>
      </div>
      <div class="col s6 push-s4">
        <a class="waves-effect waves-light btn"><%= f.submit "Submit"%></a>
      </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
