<!-- Show one campsite -->
<div id="campsitepage">
  <div class="container">
    <div class="row">
      <!-- LEFT PROFILE BAR -->
      <div class="col s3 pull-s1" id="userinfo">
        <h3> <%= @campsites.name %></h3>
        <h6><%= rating_for @campsites, 'camping', disable_after_rate: true, imdb_avg: true %></h6>
        <br>

        <!-- BOOKMARKS -->
        <% if !current_user %>
          <%= form_for([@campsites, @campsites.users.build]) do |f| %>
          <%= f.submit "Bookmark", class: "btn btn-danger pic-large", id: "buttonz" %>
         <% end %>
        <% else %>
          <%= form_for([@campsites, @campsites.users.build]) do |f| %>
          <% f.hidden_field :user_id, value: current_user.id %>
          <% if @campsites.users.include? current_user %>
            <%= f.submit "Woo!!", class: "btn btn-danger pic-large", id: "buttonz", disabled: "true" %>
            <% else %>
              <%= f.submit "Bookmark!", class: "btn btn-danger pic-large", id: "buttonz" %>
            <% end %>
          <% end %>
        <% end %>
        <br>
        <!-- DIRECTIONS -->
        <a href="https://www.google.com/maps/dir/here/<%=@campsites.name%>+National+Park" target="_blank" class="waves-effect waves-light btn" id="buttonz">Directions</a>
        <br>
        <br>
        <!-- ADD A REVIEWS -->
        <%= link_to "New Review", new_review_path(@campsites), class:"btn btn-danger pic-large", id: "buttonz"%>

        <a class="twitter-timeline"  href="https://twitter.com/search?q=%3C%25%3D%40campsites.name%25%3E" data-widget-id="844996687110156289">Tweets about <%=@campsites.name%></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



      </div>

      <!-- Add new Review -->
      <div class="col s9">
        <br>
        <h2 id="reviewheader">Tell us your <u><%=@campsites.name%></u> story!</h2>

      <!-- Review lists -->
        <% @campsites.reviews.each do |p| %>
          <div class="row hoverable">
            <div class="col s9 offset-s1" id="reviewlist">
              <h3><%= link_to "#{p.title}", review_path(p), class:"review-title"%></h3>
              <h5>From <%= p.user.username %> </h5>
              <h5> <%=p.created_at.strftime("%b %d, %Y")%></h5>
              <h6><%= truncate p.description, length: 160  %></h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
