<!DOCTYPE html>
<html>
  <head>
    <title>CampPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

  </head>

  <body>
  <nav id="navbar">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp;CAMP-POST</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
            <%= link_to('campsites', campsites_path) %>
            </li>
              <% if user_signed_in? %>
            <li>
            <%= link_to('profile', user_path(current_user)) %>
            </li>
            <li>
              <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('login', login_path)  %>
            </li>
            <li>
              <%= link_to('sign up', signup_path)  %>
            </li>
          <% end %>
      </ul>
    </div>
  </nav>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <% unless flash.empty? %>
     <script type="text/javascript">
         <% flash.each do |f| %>
         <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
     </script>
    <% end %>
    <%= yield %>



  </body>
</html>
